html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


a{
	color: #FFFFFF;
	text-decoration: none !important;
	margin: 0px;
	padding: 0px;
	border: none;
  }

.HeroBtn{
    padding: 15px 60px 15px 60px; 
    background-color:#c21b1b; 
    border-radius:40px; 
    color:#ffffff; 
    font-family: Fira Sans;
    display: flex;
    width: min-content;
    text-align: center;
    margin: 60px auto 120px auto;
}

body{
    width: 100%;
    background: linear-gradient(to top, rgba(2, 2, 3, 0.6), rgba(2, 2, 3, 0.6)), url(../img/mountains.jpg) no-repeat fixed center center;
    background-size: cover;
}

.hero{
    padding: 20px 0px;
    height: 100vh;
}

h1{
    font-size: 70px;
    font-family: Fira Sans,Arial,sans-serif;
    font-weight: 600;
    color:#ffffff; 
    text-align: center;
    width: auto;
    margin: 50px auto 0px auto;
    letter-spacing: 1px;
}

.hero h4{
    font-size: 22px;
    font-family: Fira Sans,Arial,sans-serif;
    font-weight: 600;
    color:#ffffff; 
    text-align: center;
    width: min-content;
    margin: 145px auto 0px auto;
    letter-spacing: 2px;
}

.container{
    
}

.section{
    background-color: #ffffff;
}

.section--hello{
    color: rgb(102, 102, 102);
    font-size: 30px;
    font-family: Fira Sans,Arial,sans-serif;
    font-weight: 300;
    padding: 50px 0px;
}

.section--hello .container p{
    margin: 0px 0px 35px 0px;
    display: flex;
    justify-content: center;
}

.section--hello .container{
    width: 800px;
}

.section--hello .container p img{
    margin: 90px 0px;
    width: 900px;
}

.section--hello .container ul{
    list-style: none;
}

.section--hello .container ul li img{
    width: 150px;
}

